*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}
:root{
    --bg-color : #ffffff;
    --text-color: #495057;
    --second-color: #ffffff;
    --main-color : #ff7a57;
    --big-font : 5rem;
    --h2-font : 3rem;
    --p-font : 1.1rem;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 22px 20%;
    border-bottom: 1px solid transparent;
    transition: all .45 ease;
    box-shadow: 0 6px 15px rgba(206, 212, 218, 0.3);
}
.logo img{
    color: var(--main-color);
    width:100px;
    padding: 0;
    margin: 0;
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a:active{
    color:var(--main-color)
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 168px 15% 120px;
}
.accueil{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/img/bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.subtitle{
    margin-bottom: 20px;    
}
.subtitle span{
    font-size: 25px;
    font-weight: 500;
}
.accueil-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 8px;
}
.accueil-text h3{
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
span{
    color: var(--main-color);
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 20px;
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.socials{
    display: flex;
    margin-top: 1.5rem;
}
.socials .social-item {
    display: block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff7a57;
    color: #ff7a57;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.socials .social-item:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
}
h2{
    font-size: var(--h2-font);
    line-height: 1;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 0;

}
p{
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
}
  
#pythonBar {
    width: 90%;
    height: 30px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    color: white;
}
.col{
    width: 100%;
}
.skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #050d18;
}
.val {
    float: right;
    font-style: normal;
}
#phpBar {
    width: 80%;
    height: 30px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    color: white;
}
#htmlBar {
    width: 95%;
    height: 30px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    color: white;
}
#cssBar {
    width: 50%;
    height: 30px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    color: white;
}