*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}
:root{
    --bg-color : #ffffff;
    --text-color: #495057;
    --second-color: #ffffff;
    --main-color : #ff7a57;
    --big-font : 5rem;
    --h2-font : 3rem;
    --p-font : 1.1rem;
}